/* DAVID MARTOS RUIZ 2ยบ SMR */


@font-face {
    font-family: hand-written;
    src: url(../fonts/GreatVibes-Regular.ttf);
}

@font-face {
    font-family: title;
    src: url(../fonts/Parisienne-Regular.ttf);
}

@font-face {
    font-family: text;
    src: url(../fonts/CormorantGaramond-Regular.ttf);
}


body{background-color: #f7ecd6;
    margin: 0 10% 0 10%;}
    

#container{margin: 0%;
    padding: 20px 0 10px 0;
    background-image: url(../images/pattern.jpg);
    font-family: text;
    font-size: 1.4em;
    box-shadow: 6px 0px 5px #c15835e0, -6px 0px 5px #c15835e0;
    }



#poema h2{font-family: title;
        font-size: 1.7em;
        margin-bottom: 0;
        text-shadow: 5px 5px 15px black;}

#poema h4 {text-align: right;
            font-family: hand-written;
            padding: 20px;
            font-size: 1.1em;}

#textcontainer{background-color: #f5e0b3;
    opacity: 100%;
    width: 100%;
    margin: auto;
    margin-top: 100px;
}

#poema{width: 350px;
    position: relative;
    margin-left: 40px;
    padding-top: 10px;
    text-align: left;}

#tree{display: block;
    width: 25%;
    margin: auto;
    position: absolute;
    top: 25%;
    right: 15%;}

@media only screen and (max-width:750px){
    #tree {visibility: hidden;}
    body {margin: 0;}
    #poema {width: 350px;
    position: relative;
    margin: auto;
    padding-top: 10px;
    text-align: left;}
}
